<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/front">TBA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="profil">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="restfulapi">RESTful API</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="kapcsolat">Kapcsolat</a>
      </li>

    </ul>
  </div>
  <form action="" method="post">
    <input type="text" name="username" id="" [(ngModel)]="userData.username" placeholder="userName" />
    <input type="text" name="email" id="" [(ngModel)]="userData.email" placeholder="email" />
    <input type="text" name="password" id="" [(ngModel)]="userData.password" placeholder="password" />

    <input type="button" class="btn btn-secondary" (click)="register()" value="Register">
    <input type="button" class="btn btn-secondary" (click)="login()" value="Login">
    <input type="button" class="btn btn-secondary" (click)="logout()" value="Logout">
  </form>
</nav>
<br>


<!-- <div class="col-4">
      <img class="foodCategories" src="assets/img/lebanese.jpg">
      >
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <img class="foodCategories" src="assets/img/vietnamese.jpg">
      <div class="centered">vietnamese</div>
    </div>
    <div class="col-4">
      <img class="foodCategories" src="assets/img/turkish.jpg">
      <div class="centered">turkish</div>
    </div>
    <div class="col-4">
      <img class="foodCategories" src="assets/img/japanese.jpg">
      <div class="centered">japanese</div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
