<h1 class="text-center">Restaurant types:</h1>
<div class="panel">
  <div class="row">
    <div class="col-4">
      <div class="card-container">
        <div class="card">
          <div class="side">
            <img class="foodCategories" src="assets/img/mexico2.jpg" alt="mex">

          </div>
          <div class="side back">
            <h4>Válassz éttermet</h4>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex"> Étterem 1
            <br>
            <img class="restaurant" src="assets/img/chinese.jpg" alt="mex">
            <a>Etterem 2</a>
            <br>
            <img class="restaurant" src="assets/img/vietnamese.jpg" alt="mex"> Étterem 3
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-container">
        <div class="card">
          <div class="side">
            <img class="foodCategories" src="assets/img/lebanese2.jpg">

          </div>
          <div class="side back"><h4>Válassz éttermet</h4>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex"> Étterem 1
            <br>
            <img class="restaurant" src="assets/img/chinese.jpg" alt="mex">
            <a>Etterem 2</a>
            <br>
            <img class="restaurant" src="assets/img/vietnamese.jpg" alt="mex"> Étterem 3</div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-container">
        <div class="card">
          <div class="side">
            <img class="foodCategories" src="assets/img/chinese2.jpg">

          </div>
          <div class="side back"><h4>Válassz éttermet</h4>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex"> Étterem 1
            <br>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex">
            <a>Etterem 2</a>
            <br>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex"> Étterem 3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="col-4">
      <div class="card-container">
        <div class="card">
          <div class="side">
            <img class="foodCategories" src="assets/img/turkish2.jpg" alt="mex">

          </div>
          <div class="side back">
            <h4>Válassz éttermet</h4>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex"> Étterem 1
            <br>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex">
            <a href="http://www.index.hu">Etterem 2</a>
            <br>
            <img class="restaurant" src="assets/img/mexico.jpg" alt="mex"> Étterem 3
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-container">
        <div class="card">
          <div class="side">
            <img class="foodCategories" src="assets/img/japanese2.jpg">

          </div>
          <div class="side back"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-container">
        <div class="card">
          <div class="side">
            <img class="foodCategories" src="assets/img/vietnamese2.jpg">

          </div>
          <div class="side back"></div>
        </div>
      </div>
    </div>
  </div>

</div>
