<div class="container profil">
  <div class="row">
    <div class="col-4">
      <h1 class="yellow">NAJDEH MARUAN</h1>

      <p>
        <img class="icon" src="assets/img/phone.png">+36 30 708 1667</p>


      <p>
        <img class="icon" src="assets/img/email.png">m.najdeh@gmail.com
      </p>

      <p>
        <img class="icon" src="assets/img/linked.png">linkedin.com/in/maruan-najdeh-92a701aa/</p>

    </div>
    <div class="col-4"></div>
    <div class="col-3">
      <br>
      <img id="profpic" src="assets/img/Miro.jpg"> </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="yellow">Célom</h3>
      <p class="para">Tanulmányaimnak megfelelően szeretnék az informatika területén elhelyezkedni. Jelenleg szabadidőmben Java nyelven tanulok
        programozni. Olyan teljes munkaidős állást keresek, ahol elmélyíthetem alapszintű programozói ismereteimet, valamint
        valós kihívásokon tesztelhetem tudásomat.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <h3 class="yellow">Szakmai Tapasztalat</h3>
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col-4">
      <h5>HEWLETT PACKARD</h5>
      <h6>(PRESSMEN KFT.)</h6>
    </div>

    <div class="col-6 offset-2">
      <h5>APPLICATION PACKAGER</h5>
      <p class="para">Csomagolóként fő feladatom alkalmazás telepítőkészletek készítése, és konfigurálása volt. Az általam újracsomagolt
        programoknak, mind fájl mind regisztry kulcsok szintjén nyom nélkül eltávolíthatónak kellett lennie. szoftvereket
        használtam mint Repackager, Installshield, SysTracer, VMware. Többnyire multinacionális vállalatok projektjein dolgoztam,
        melyek közül a legnagyobb a TNT Express volt. Csomagolóként szintén a munkám részét képezte a más csomagolók által
        készített telepítőkészletek minőség ellenőrzése és dokumentálása, melyet mindig nagy gondossággal végeztem.</p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-4">
      <h5>HEWLETT PACKARD</h5>
      <h6>(PRESSMEN KFT.)</h6>
    </div>


    <div class="col-6 offset-2">
      <h5>SLS DISCOVERY ENGINEER</h5>
      <p class="para">A telepítőkészletek elkészítéséhez szükséges volt felmérni a megrendelő igényeit. Ezt általában távoli eléréssel végeztük,
        közösen az alkalmazását legtöbbet kezelő felhasználóval. Az alkalmazás feltérképezése során dokumentáltam a program
        telepítését, működését és eltávolítását, valamint felmértem az a program futásához szükséges előfeltételeket, dependenciákat.
        Az így készített dokumentumok alapján készültek az újra csomagolt telepítőkészletek.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <h3 class="yellow">TANULMÁNYOK</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h5> GABOR DÉNES FŐISKOLA</h5>
    </div>

    <div class="col-6 offset-2">
      <h5>MÉRNÖK INFORMATIKUS</h5>
      <p>(Bsc)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h5>TRAINING 360 KFT.</h5>
    </div>

    <div class="col-6 offset-2">
      <h5>JUNIOR WEBPROGROMOZÓ KÉPZÉS</h5>
      <p>(YellowRoad)</p>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="yellow">NYELVI ISMERETEK</h3>
      <div class="row">
        <div class="col-3">
          <p class="bold">MAGYAR</p>
        </div>
        <div class="col-4">
          <p>Anyanyelv</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="bold">ANGOL</p>
        </div>
        <div class="col-4">
          <p>Középszint</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p class="bold"> FRANCIA</p>
        </div>
        <div class="col-4">
          <p>Alapfok</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3 class="yellow">KOMPETENCIÁK</h3>
      <div class="row bold">
        <div class="col-3">
          <div class="row">
            <p>JAVA</p>
          </div>
          <div class="row">
            <p>JAVASCRIPT</p>
          </div>
          <div class="row">
            <p>HTML, CSS</p>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <p>BOOTSTRAP</p>
          </div>
          <div class="row">
            <p>NODEJS</p>
          </div>
          <div class="row">
            <p>ANGULAR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
